.cabecalho {
    align-items: center;
    background-color: #111111;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-around;
    width: 100vw;
    border-bottom: solid 1px #00FFEA;
    box-shadow: inset 0 0 10px #00FFEA, 0 0 10px #00FFEA;
}


.logo {
    color: #00FFEA;
    font-family: 'Orbitron';
    font-size: 30px;
    font-weight: 500;
    margin-left: 20px;
}

.logo__imagem {
    height: 50px;
    width: 50px;
}

#check__burguer {
    display: none;
}

.menu__lista {
    display: flex;
    color: #00FFEA;
}

.menu__item {
    margin-right: 15px;
}

.menu__link {
    border-left: solid 1px #00FFEA;
    font-size: 20px;
    letter-spacing: 3px;
    padding-left: 4px;
}

@media screen and (min-width: 0px) and (max-width: 768px){
    .cabecalho {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 50px;
        justify-content: space-between;
        width: 100vw;
    }

    .logo {
        z-index: 1;
    }

    .menu__burguer {
        border-radius: 50%;
        box-shadow: 0 0 0 0 #808080, 0 0 0 0 grey;
        height: 40px;
        margin: 5px 20px 0 0;
        transition: box-shadow 1s cubic-bezier(0, 0.73, 0.97, 0.4);
        width: 40px;
    }

    .menu__burguer:hover {
        box-shadow: 0 0 0 1px #111111, 0 0 0 1px #111111;
    }

    .burguer {
        background: #00FFEA;
        border-radius: 5px;
        display: block;
        height: 4px;
        position: relative;
        left: 9px;
        top: 18px;
        transition: .5s ease-in-out;
        width: 22px;
    }

    .burguer::before, .burguer::after {
        background: #00FFEA;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 1px;
        transition: .5s ease-in-out;
    }

    .burguer::before {
        top: -8px;
    }

    .burguer::after {
        bottom: -8px;
    }

    #check__burguer {
        display: none;
    }

    #check__burguer:checked ~ label .menu__burguer {
        background: #051a2d;
        box-shadow: 0 0 0 100vw #051a2d, 0 0 0 100vh #051a2d;
        position: relative;
    }

    #check__burguer:checked ~ label .burguer {
        transform: rotate(45deg);
    }

    #check__burguer:checked ~ label .burguer:before {
        top: 0;
        transform: rotate(90deg);
    }

    #check__burguer:checked ~ label .burguer::after {
        bottom: 0;
        transform: rotate(90deg);
    }

    #check__burguer:checked ~ .menu__lista{
        align-items: center;
        display: flex;
        height: 320px;
        flex-direction: column;
        justify-content: center;
        margin-top: 360px;
        opacity: 1;
        position: absolute;
        transition: .25s .5s ease-in-out;
        width: 100vw;
    }

    .menu__lista {
        opacity: 0;
        width: 100vw;
    } 

    .menu__item {
        color: aliceblue;
        font-size: 25px;
        margin-bottom: 25px;
    }
}