.cabecalho {
    background: linear-gradient(#051A2D, #004E99, #438BD3);
}

.logo__imagem {
    width: 50px;
    height: 50px;
}

@media screen and (min-width: 0px) and (max-width: 768px){
    .cabecalho {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100vw;
        height: 50px;
        justify-content: space-between;
    }

    .logo {
        /* width: 90px;
        height: 16px;
        color: #ffffff; */
        z-index: 1;
        margin-left: 20px;
    }

    .menu__burguer {
        width: 40px;
        height: 40px;
        margin: 5px 20px 0 0;
        border-radius: 50%;
        box-shadow: 0 0 0 0 #808080, 0 0 0 0 grey;
        transition: box-shadow 1s cubic-bezier(0, 0.73, 0.97, 0.4);
    }

    .menu__burguer:hover {
        box-shadow: 0 0 0 1px #051a2d, 0 0 0 1px #051a2d;
    }

    .burguer {
        position: relative;
        display: block;
        background: #ffffff;
        width: 22px;
        height: 4px;
        border-radius: 5px;
        top: 18px;
        left: 9px;
        transition: .5s ease-in-out;
    }

    .burguer::before, .burguer::after {
        background: #ffffff;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 1px;
        transition: .5s ease-in-out;
    }

    .burguer::before {
        top: -8px;
    }

    .burguer::after {
        bottom: -8px;
    }

    #check__burguer {
        display: none;
    }

    #check__burguer:checked ~ label .menu__burguer {
        box-shadow: 0 0 0 100vw #051a2d, 0 0 0 100vh #051a2d;
    }

    #check__burguer:checked ~ label .burguer {
        transform: rotate(45deg);
    }

    #check__burguer:checked ~ label .burguer:before {
        transform: rotate(90deg);
        top: 0;
    }

    #check__burguer:checked ~ label .burguer::after {
        transform: rotate(90deg);
        bottom: 0;
    }

    #check__burguer:checked ~ .menu__lista{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 320px;
        margin-top: 360px;
        opacity: 1;
        transition: .25s .5s ease-in-out;
    }

    .menu__lista {
        width: 100vw;
        opacity: 0;
    } 

    .menu__item {
        margin-bottom: 25px;
        font-size: 25px;
        color: aliceblue;
    }
}